<div>
  <h1>
    {{ title }}
  </h1>
  <div class="container">
    <div>
      <form (ngSubmit)="onSubmit()" #appComponent="ngForm" ngNativeValidate>
        <p>
          <label for="base">Base</label>
          <select class="form-field" id="base" [(ngModel)]="base" name="base" required>
            <option *ngFor="let base of baseCurrencies" [value]="base">{{base}}</option>
          </select>
        </p>
        <p>
          <label for="date">Date</label>
          <input class="form-field" type="date" id="date" [(ngModel)]="date" name="date" required>
        </p>
        <p>
          <button class="form-field" type="submit">Display</button>
        </p>
      </form>
    </div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Currency
              <button class="sorter" (click)="sortAsc()" type="button" title="Sort alphabetically: ascending">▲</button>
              <button class="sorter" (click)="sortDesc()" type="button" title="Sort alphabetically: descending">▼</button>
            </th>
            <th scope="col">Buy</th>
            <th scope="col">Sel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currencyRate of currencyRates" [class.base-currency]="baseCurrencies.indexOf(currencyRate.currency) > -1">
            <th scope="row">{{currencyRate.currency}}</th>
            <td>{{currencyRate.rate * 0.95 | number:'1.4-4'}}</td>
            <td>{{currencyRate.rate * 1.05 | number:'1.4-4'}}</td>
          </tr>
          <tr *ngIf="currencyRates?.length === 0">
            <td colspan="1000">Select the base and date.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

